<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/Css/login.css"/>
</head>
<body>
<div style="margin: 0 auto;text-align: center;width: 50%">
    <div id="login">
        <h1>Login</h1>
        <form method="post" action="/login">
            <input type="text" required="required" placeholder="用户名" name="username"></input>
            <input type="password" required="required" placeholder="密码" name="password"></input>
            <button class="but" type="submit">登录</button>
        </form>
    </div>
    <div id="register">
        <h1>Register</h1>
        <form method="post" action="/register">
            <input type="text" required="required" placeholder="用户名" name="username"></input>
            <input type="password" required="required" placeholder="密码" name="password"></input>
            <button class="but" type="submit">注册</button>
        </form>
    </div>
</div>
</body>
</html>
